@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

body {
   line-height: 1.8;
   color: #d6d7dc;
   font-size: 15px;
   font-family: 'Lato', sans-serif;
}
.banner2{
   background-image: linear-gradient(rgba(208, 30, 30, 0.75),rgba(0,0,0,0.75)),url(/img/bkg-image.png);
}

h1,h2,h3,h4,h5,h6 {
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #11245A;
}

.title-sm {
   font-size: 16px;
   letter-spacing: 1px;
}

a {
   font-weight: 700;
   transition: all 0.4s ease;
   text-decoration: none;
}

img {
   width: 100%;
}

small {
   font-size: 12px;
   letter-spacing: 2px;
   font-weight: 700;
   text-transform: uppercase;
}

section {
   padding-top: 100px;
   padding-bottom: 100px;
}

.navbar {
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo-text {
   font-size: 22px;
   text-transform: uppercase;
   color: #11245A !important;
}
.navbar .nav-link {
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link.active {
   color: #E93B81;
}

#home {
   /*background: linear-gradient(rgba(17, 36, 90, 0.8), rgba(17, 36, 90, 0.8)), url("/img/banner-website.jpg");*/
   background: url("/img/bkg-image.png");
   min-height: 100vh;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   display: flex;
   align-items: center;
}

#home h1 {
   font-weight: 700;
}

#home p {
   max-width: 550px;
   margin: 18px auto;
}

.btn {
   font-weight: 700;
   font-size: 12px;
   text-transform: uppercase;
   padding: 12px 28px;
   border-radius: 0;
}

.btn-brand {
   background-color: #E93B81;
   color: #fff;
}

.btn-brand:hover {
   background-color: #ce2f6e;
   color: #fff;
}

.section-intro {
   text-align: center;
   margin-bottom: 60px;
}

.section-intro .hline {
   width: 120px;
   height: 2px;
   background-color: rgba(0, 0, 0, 0.1);
   margin: 16px auto 0 auto;
}

.icon-box {
   width: 60px;
   height: 60px;
   background-color: #E93B81;
   color: #fff;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 32px;
   flex: none;
}
.mdd{
  align-content: center;
}



.feature .icon-box {
   width: 34px;
   height: 34px;
   border-radius: 100px;
   font-size: 24px;
}
.cl{
  color:black;
  font-style: arial;
}

.container1{
   width:80%;
   height:50%;
   background: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.swiper{
   width:80%;
   height: fit-content;
}
.swiper-slide img{
   width: 100%;
}

.review .stars {
   color: #E93B81;
}

.review p {
   max-width: 720px;
   margin: 24px auto;
   font-style: italic;
}


#clients img {
   height: 35px;
}

form .form-control {
   border-radius: 0;
}

form .form-control:focus {
   box-shadow: none;
   border-color: #E93B81;
}

#cta {
   background-color: #E93B81;
}


.footer-top {
   padding-top: 80px;
   padding-bottom: 30px;
}

.footer-bottom {
   padding-top: 30px;
   padding-bottom: 30px;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer .footer-links a,
footer .social-icons a {
   color: #898fa1;
}

footer .social-icons a {
   font-size: 24px;
}

footer .footer-links a {
   display: block;
   font-weight: 400;
}

footer .social-icons a:hover,
footer .footer-links a:hover {
   color: #E93B81;
}
